%li.favorites#user_favorites_dropdown
  %a{:href => "#"}
    %i
    %span= current_user.shots.count.to_s
  - (current_user.shots.tag_counts.sort{ |x,y| y.count <=> x.count}).each_slice(28) do |tags|
    %ul.dropdown
      %li
        %a{:href => "?users_only=true"} All favourited useflows
        = current_user.shots.count.to_s
      - tags.each do |tag|
        %li
          = link_to  "#{tag.name.titleize} #{tag.count}", "/?tag=#{tag.name}&users_only=true"

