= paginate shots, remote: true

%br/

- if shots.any?
  %table
    %thead
      %tr
        %th ID
        %th Updated
        %th State
        %th Tags
        %th URL
        %th Email / TW

        %th Tools

    %tbody
      - shots.each do |shot|
        %tr{class: [(shot.visible? ? "visible" : "hidden"), (shot.image.present? ? "with_image" : "no_image")]}
          %th=shot.id
          %td="#{time_ago_in_words(shot.updated_at)} ago"
          %td
            = [(shot.visible? ? nil : "Hidden"), (shot.image.present? ? nil : "No image")].compact.join(", ")

          %td
            = raw shot.tag_list.map {|t| link_to(t, root_path(tag: t))}.join(", ")

          %td=link_to shot.small_url, shot.url, target: "_blank"

          %td
            = [shot.email.present? ? shot.email : nil, shot.tw_handler.present? ? shot.tw_handler : nil].compact.join("/")

          %td
            =link_to "Remove", [:admin, shot], method: :delete
            |
            =link_to "Edit", [:edit, :admin, shot]
- else
  %p
    No shots in database.

= paginate shots, remote: true

%br/
