%h3
  = main_title
#feed_container
  %ul#newest-items.item-list
    = render "feed"

/ Theese are PREV/NEXT navigagation links
= link_to_previous_page shots, 'Previous Page'
= link_to_next_page shots, 'Next Page'

/ If you want full pagination in form of << < 1 2 .... 10 11 > >> uncomment next line
/ = paginate shots


%hr
.row
  .columns{class: current_user ? 'large-6' : 'large-12'}
    %h3
      All tags
    = render partial: 'tag_cloud', locals: {tags: Shot.tag_counts}
  - if current_user
    .large-6.columns
      %h3
        My Tags
      #users_tags
        = render partial: 'tag_cloud', locals: {tags: current_user.shots.tag_counts}
