!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "uxscreen"
    = stylesheet_link_tag    "admin", media: "all"
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "admin"

    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
%body
  = render "layouts/shared/nav_admin"

  #mainContent
    .row
      = yield
