!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "mirkopatterns"
    = stylesheet_link_tag    "app", media: "all"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
%body

  .nav-wrap
    %header.header
      .header-inner-wrap
        =link_to "mirkopatterns", root_path, class: :logo
        \/
        %span.mission place for your #shot of ux.
        =link_to "+ new shot", root_path, class: :new_shot

  %section.content
    .content-inner-wrap
      = yield

  = render "shots/form"

  = javascript_include_tag "app"


