!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "mirkopatterns"
    = stylesheet_link_tag    "app", media: "all"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
%body
  .container
    %header
      %nav.row
        %a.logo
        %ul
          %li.useflows
            = link_to '/' do
              UseFlows
              %span= Shot.count.to_s
              %i
            %ul.dropdown
              %li
                %a{:href => "/"} All useflows
                = Shot.count.to_s
              - (Shot.tag_counts.sort{ |s| s.count}[0..10]).each do |tag|
                %li
                  = link_to  "#{tag.name.titleize} #{tag.count}", "/?tag=#{tag.name}"
          - if current_user
            %li.favorites
              %a{:href => "#"}
                %i
                %span 50
              %ul.dropdown
                %li
                  %a{:href => "#"} All favourited useflows
                  = current_user.shots.count.to_s
                - (current_user.shots.tag_counts.sort{ |s| s.count}[0..10]).each do |tag|
                  %li
                    = link_to  "#{tag.name.titleize} #{tag.count}", "/?tag=#{tag.name}&users_only=true"
          %li.new
            %a{:href => "#"}
              %i
        .search
          %form#searchForm{:action => ""}
            %input{:placeholder => "Try searching for something ...", :type => "text"}
            %input.btn{:type => "submit", :value => ""}
        %ul.profile
          %li
            %a{:href => "#"}
              - if current_user
                = image_tag current_user.image_url, style: 'width: 60px'
              - else
                = image_tag 'display-pic.png'
            %ul.dropdown
              - if current_user
                %li
                  = link_to 'Log Out', session_path(1), method: :delete
              - else
                %li
                  = link_to 'Log in with twitter', '/auth/twitter'


    .fw.content
      = yield

    = render "shots/form"

  = javascript_include_tag "app"


